{
  "extends": [
    "eslint:recommended",
    "plugin:compat/recommended",
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "THREEx": true,
    "THREE": true
  }
}